
header {
    padding: 2.25rem 0;
    border-radius: 0 0 0.938rem 0.938rem;
    -webkit-box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  

.loginform{
        width: 34rem;
        height: 34rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
        padding: 1rem;

}

.font_b1{
        font-weight: 500;
}
.font_b2{
        font-weight: 700;
}

.font_12{
        font-size: 12px;
}
.font_14{
        font-size: 14px;
}
.font_16{
        font-size: 16px;
}
.font_18{
        font-size: 18px;
}
.font_20{
        font-size: 20px;
}

.loginbutton{
        width: 100%;
        background-color: aqua;
        margin: 1rem 0 0 0 ;
        height: 3rem;
        border: none;
}

.SignUpform{
        width: 56rem;
        height: 34rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.313rem  .5rem rgba(0, 0, 0, 0.1);
        padding: 1rem;

}

.navbar-brand{
        font-size: 14px;
        cursor: pointer;
}

.input__err__group{
        color: red;
}